@import "tailwindcss";

@font-face {
    font-family: "SamsungFont";
    src: url("../assets/fonts/SamsungOne-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: "SamsungFont",sans-serif;
}

.login-page{
    font-family: "SamsungFont",sans-serif;
}